body {
    background-color: aqua;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#highScore {
    text-align: center;
}
#initials h2 {
    font-size: 40px;
    text-align: center;

}
#initials {
    text-align: center;
}
#questions h2{
    font-size: 40px;
    text-align: center;
}
#begin h2{
    font-size: 40px;
    text-align: center;
}
#timer {
    text-align: center;
    padding: 20px;
}

button {
    background-color: bisque;
    color: blue;
    display: block;
    margin-left: 600px;
    padding: 10px;
}
