body {
    background-color: aqua;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#highScore {
    text-align: center;
}
#initials h2 {
    font-size: 40px;
    text-align: center;

}
#initials {
    text-align: center;
}
#questions h2{
    font-size: 40px;
    text-align: center;
}
#begin h2{
    font-size: 40px;
    text-align: center;
}
#timer {
    text-align: center;
    padding: 20px;
}

button {
    background-color: bisque;
    color: blue;
    display: block;
    padding: 10px;
}

dl {
    display: flex;
    justify-content: center;
    align-items: center;
}

dt::after{
    content: ":";
    display: inline-block;
    margin: 8px;
}
#questions,
#question,
#initials,
#highScore,
#begin,
#restart {
    display: flex;
    flex-direction: column;
    align-items: center;
}